
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-white: #fff;
  --primary-orange: orange;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
body{
  font-family: "Roboto Condensed" sans-serif;
}
.logo-img {
  width: 100px;
}

nav a.nav-link{
  font-size : 1rem;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li{
  text-transform:uppercase;
}

.navbar-nav >li > a{
  margin-right:30px;
  margin-left: 30px;
  color:var(--primary-white) !important;
  border-top:0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0rem !important;

}

.navbar-toggler-icon {
  /* Your custom styles */
  background-color: whitesmoke; /* Set background color to transparent */
  border-color: transparent; /* Set border color to transparent */
}

/* Hover effect for links */
.navbar-nav > li > a:hover {
  color: var(--primary-orange) !important;
  border-top:0.1875rem solid;
  font-size : 1.4rem;
}
.navbar-nav{
  z-index: 2;
}


.header-wrapper{
  position:relative;
  background:url(background.jpg) no-repeat;
  background-size:cover;
  background-position:center;
  height:90vh;
}

.main-info{
  display:flex;
  flex-direction:column;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 3;
}

.main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
}

.typed-text{
  font-size: 2rem;
  color : whitesmoke;
}

.btn-main-offer{
  border:1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0px;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out;
}
#Particles {
  position: absolute; /* Position absolutely */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1; /* Set a high z-index */
  pointer-events: none; 
}

/* Custom CSS for Introduction component */

/* Style the container */
#cont1 {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  margin-top: 30px; /* Add margin to lower the image */
}

/* Style the image */
#cont1 img {
  border-radius: 50%; /* Make the image perfectly circular */
  width: 300px; /* Set width of the image */
  height: 300px; /* Set height of the image */
  object-fit: cover; /* Ensure the image covers its container */
  margin-right: 20px; /* Add margin to separate the image from text */
  margin-top: 30px; /* Add margin to lower the image */
}

/* Style the text */
#cont1 .col-md-8 {
  margin-top: 45px; /* Add margin to lower the image */
  flex: 1; /* Expand to fill remaining space */
}

.badge {
  display: block;
  margin-bottom: 10px; /* Optional: Add margin between badges */
  width:300px;
}
